html {
  background-image: linear-gradient(
    90deg, 
    rgb(128, 128, 128), 
    rgba(128, 128, 128, 0.445)), 
  url(/ImgResources/BerserkCollageBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/*CSS Banner for all webpage links*/

header{
  display: inline-block;
  background-color: rgb(255, 255, 255);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 or (black) on hover */
li a:hover {
  background-color: rgb(0, 0, 0);
}
