/*CSS Banner for all webpage links*/
header.navbar{
  display: inline-block;
  background-color: rgb(255, 255, 255);
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

li.navbar {
  float: left;
}

li.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 or (black) on hover */
li.navbar a:hover {
  background-color: rgb(0, 0, 0);
  box-shadow: 2px 2px 3px rgba(155, 1, 1, 0.616);
  color: red;
}

/*Beginning of body content CSS*/
body {
  font-family: 'Cinzel', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
  margin: 0;
}

.container{
  display: block;
  width: 100%;
  margin: 1rem auto 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-white);
  background-image: linear-gradient(
      90deg,
      rgb(0, 0, 0),
      rgba(54, 54, 54, 0.212)
    ),
    url(/ImgResources/BerserkCollageBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1{
  font-weight: 600;
  line-height: 1.5;
}

.current-body{
  width: 100%;
  margin: 2rem auto 0 auto;
  padding: 3rem;
  border-left: solid;
  border-right: solid;
  border-color: darkred;
  background-color:rgba(51, 51, 51, 0.836);
}

@media (min-width: 576px) {
  .current-body {
    max-width: 720px;
  }
}

@media (min-width: 768px) {
  .current-body {
    max-width: 720px;
  }
}

.current-content {
  font-size: 1.125rem;
}
