/*CSS Banner for all webpage links*/
.berserk-logo {
  background-image: url(/ImgResources/Berserk_anime_logo.png);
  max-width: 100%;
  height: 6.5em;
  background-repeat: no-repeat;
  background-size: contain;
}

